In [1]:
import pandas as pd

# File path
file_path = r'C:\Users\LENOVO\Downloads\intern 2222\jewelry.csv'

# Load the dataset
df = pd.read_csv(file_path)

# Display the first few rows
df.head()

,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1806829201890738522,jewelry.earring,0,561.51,1515915625207851155,Unnamed: 9,red,gold,diamond
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Define column names
df_cols = ['Datetime', 'OrderID', 'ProductID', 'Quantity', 'CategoryID', 
           'CategoryCode', 'BrandID', 'USDPrice', 'UserID', 'Gender', 
           'Color', 'Metal', 'Gem']

# Update the file path
file_path = r'C:\Users\LENOVO\Downloads\intern 2222\jewelry.csv'

# Load the dataset
df = pd.read_csv(file_path, names=df_cols)

# Display the first two rows
df.head(2)

,Datetime,OrderID,ProductID,Quantity,CategoryID,CategoryCode,BrandID,USDPrice,UserID,Gender,Color,Metal,Gem
0,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1.806829e+18,jewelry.earring,0.0,561.51,1.515916e+18,NaN,red,gold,diamond
1,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95911 entries, 0 to 95910
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      95911 non-null  object
 1   OrderID       95911 non-null  int64
 2   ProductID     95911 non-null  int64
 3   Quantity      95911 non-null  int64
 4   CategoryID    90559 non-null  float64
 5   CategoryCode  85978 non-null  object
 6   BrandID       91126 non-null  float64
 7   USDPrice      90559 non-null  float64
 8   UserID        90559 non-null  float64
 9   Gender        47743 non-null  object
 10  Color         88251 non-null  object
 11  Metal         90449 non-null  object
 12  Gem           61853 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB

In [4]:
df.isna().sum()

Datetime            0
OrderID             0
ProductID           0
Quantity            0
CategoryID       5352
CategoryCode     9933
BrandID          4785
USDPrice         5352
UserID           5352
Gender          48168
Color            7660
Metal            5462
Gem             34058
dtype: int64

In [5]:
df.Gender.fillna('f', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95911 entries, 0 to 95910
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      95911 non-null  object
 1   OrderID       95911 non-null  int64
 2   ProductID     95911 non-null  int64
 3   Quantity      95911 non-null  int64
 4   CategoryID    90559 non-null  float64
 5   CategoryCode  85978 non-null  object
 6   BrandID       91126 non-null  float64
 7   USDPrice      90559 non-null  float64
 8   UserID        90559 non-null  float64
 9   Gender        95911 non-null  object
 10  Color         88251 non-null  object
 11  Metal         90449 non-null  object
 12  Gem           61853 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB

In [6]:
df.Quantity.unique()

array([1])

In [7]:
df.drop('Quantity',axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95911 entries, 0 to 95910
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      95911 non-null  object
 1   OrderID       95911 non-null  int64
 2   ProductID     95911 non-null  int64
 3   CategoryID    90559 non-null  float64
 4   CategoryCode  85978 non-null  object
 5   BrandID       91126 non-null  float64
 6   USDPrice      90559 non-null  float64
 7   UserID        90559 non-null  float64
 8   Gender        95911 non-null  object
 9   Color         88251 non-null  object
 10  Metal         90449 non-null  object
 11  Gem           61853 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 8.8+ MB

In [8]:
df.USDPrice.isna().sum()

np.int64(5352)

In [9]:
print(df[df['USDPrice'].isna()].Gem.unique())
print(df[df['USDPrice'].isna()].Metal.unique())
print(df[df['USDPrice'].isna()].BrandID.unique())

[nan]
[nan]
[1.55061295e+18 1.32515621e+18 1.51591563e+18 ... 1.51591563e+18
 1.51591563e+18 1.51591563e+18]

In [10]:
df[df['USDPrice'].isna()].BrandID.value_counts()

BrandID
1.515916e+18    147
1.515916e+18    104
1.515916e+18     74
1.515916e+18     37
1.515916e+18     34
               ...
1.515916e+18      1
1.515916e+18      1
1.515916e+18      1
1.515916e+18      1
1.515916e+18      1
Name: count, Length: 2530, dtype: int64

In [11]:
df[df['BrandID']==1515915625368881664.000000].describe()

            OrderID     ProductID  CategoryID       BrandID  USDPrice  UserID
count  3.400000e+01  3.400000e+01         0.0  3.400000e+01       0.0     0.0
mean   2.638980e+18  1.511337e+18         NaN  1.515916e+18       NaN     NaN
std    3.443835e+16  2.699059e+16         NaN  2.598498e+02       NaN     NaN
min    2.532276e+18  1.358585e+18         NaN  1.515916e+18       NaN     NaN
25%    2.625246e+18  1.515966e+18         NaN  1.515916e+18       NaN     NaN
50%    2.657495e+18  1.515966e+18         NaN  1.515916e+18       NaN     NaN
75%    2.661770e+18  1.515966e+18         NaN  1.515916e+18       NaN     NaN
max    2.676981e+18  1.515966e+18         NaN  1.515916e+18       NaN     NaN

In [12]:
new_df = df[df['USDPrice'].notna() & df['UserID'].notna()]

In [13]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90559 entries, 0 to 95910
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      90559 non-null  object
 1   OrderID       90559 non-null  int64
 2   ProductID     90559 non-null  int64
 3   CategoryID    90559 non-null  float64
 4   CategoryCode  80626 non-null  object
 5   BrandID       85774 non-null  float64
 6   USDPrice      90559 non-null  float64
 7   UserID        90559 non-null  float64
 8   Gender        90559 non-null  object
 9   Color         88251 non-null  object
 10  Metal         90449 non-null  object
 11  Gem           61853 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 9.0+ MB

In [14]:
new_df.CategoryCode.fillna('other', inplace=True)

In [15]:
new_df.CategoryCode.value_counts()

CategoryCode
jewelry.earring       29052
jewelry.ring          28300
jewelry.pendant       13088
other                  9933
jewelry.bracelet       6188
jewelry.necklace       2361
jewelry.brooch         1288
jewelry.souvenir        170
electronics.clocks      167
jewelry.stud             12
Name: count, dtype: int64

In [16]:
new_df['BrandID'].fillna('-1',inplace=True)

In [17]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90559 entries, 0 to 95910
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      90559 non-null  object
 1   OrderID       90559 non-null  int64
 2   ProductID     90559 non-null  int64
 3   CategoryID    90559 non-null  float64
 4   CategoryCode  90559 non-null  object
 5   BrandID       90559 non-null  object
 6   USDPrice      90559 non-null  float64
 7   UserID        90559 non-null  float64
 8   Gender        90559 non-null  object
 9   Color         88251 non-null  object
 10  Metal         90449 non-null  object
 11  Gem           61853 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 9.0+ MB

In [18]:
new_df['Gem'].unique()

array(['diamond', nan, 'sapphire', 'amethyst', 'fianit', 'pearl',
       'quartz', 'topaz', 'garnet', 'quartz_smoky', 'ruby', 'agate',
       'mix', 'citrine', 'emerald', 'amber', 'chrysolite', 'chrysoprase',
       'nanocrystal', 'turquoise', 'sitall', 'corundum_synthetic',
       'coral', 'onyx', 'nacre', 'spinel', 'tourmaline',
       'emerald_geothermal', 'garnet_synthetic', 'rhodolite',
       'sapphire_geothermal'], dtype=object)

In [19]:
for i in ('Color','Metal','Gem'):
  if i == 'Color':
    new_df[i].fillna('unknown-color',inplace=True)
  else:
    new_df[i].fillna('unknown',inplace=True)

In [20]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90559 entries, 0 to 95910
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      90559 non-null  object
 1   OrderID       90559 non-null  int64
 2   ProductID     90559 non-null  int64
 3   CategoryID    90559 non-null  float64
 4   CategoryCode  90559 non-null  object
 5   BrandID       90559 non-null  object
 6   USDPrice      90559 non-null  float64
 7   UserID        90559 non-null  float64
 8   Gender        90559 non-null  object
 9   Color         90559 non-null  object
 10  Metal         90559 non-null  object
 11  Gem           90559 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 9.0+ MB

In [21]:
new_df['Datetime'] = new_df.Datetime.apply(lambda x : x[:10])
new_df.head()

,Datetime,OrderID,ProductID,CategoryID,CategoryCode,BrandID,USDPrice,UserID,Gender,Color,Metal,Gem
0,2018-12-01,1924719191579951782,1842195256808833386,1.806829e+18,jewelry.earring,0.0,561.51,1.515916e+18,f,red,gold,diamond
1,2018-12-01,1924899396621697920,1806829193678291446,1.806829e+18,other,-1,212.14,1.515916e+18,f,yellow,gold,unknown
2,2018-12-02,1925511016616034733,1842214461889315556,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
3,2018-12-02,1925626951238681511,1835566849434059453,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
4,2018-12-02,1925740842841014667,1873936840742928865,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,f,red,gold,amethyst

In [22]:
from datetime import datetime

new_df['Datetime'] = new_df['Datetime'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90559 entries, 0 to 95910
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      90559 non-null  datetime64[ns]
 1   OrderID       90559 non-null  int64
 2   ProductID     90559 non-null  int64
 3   CategoryID    90559 non-null  float64
 4   CategoryCode  90559 non-null  object
 5   BrandID       90559 non-null  object
 6   USDPrice      90559 non-null  float64
 7   UserID        90559 non-null  float64
 8   Gender        90559 non-null  object
 9   Color         90559 non-null  object
 10  Metal         90559 non-null  object
 11  Gem           90559 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 9.0+ MB

In [23]:
new_df.head()

,Datetime,OrderID,ProductID,CategoryID,CategoryCode,BrandID,USDPrice,UserID,Gender,Color,Metal,Gem
0,2018-12-01,1924719191579951782,1842195256808833386,1.806829e+18,jewelry.earring,0.0,561.51,1.515916e+18,f,red,gold,diamond
1,2018-12-01,1924899396621697920,1806829193678291446,1.806829e+18,other,-1,212.14,1.515916e+18,f,yellow,gold,unknown
2,2018-12-02,1925511016616034733,1842214461889315556,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
3,2018-12-02,1925626951238681511,1835566849434059453,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
4,2018-12-02,1925740842841014667,1873936840742928865,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,f,red,gold,amethyst

In [24]:
sales_df =  pd.pivot_table(new_df, 
                 index= 'Datetime' ,
                 values= 'USDPrice'  ,
                 aggfunc= 'sum' ).reset_index()

sales_df.head()

    Datetime  USDPrice
0 2018-12-01    773.65
1 2018-12-02    897.47
2 2018-12-03    978.85
3 2018-12-04   3486.05
4 2018-12-05   1246.58